.cont {
    margin-bottom: 40px;
}

.img {
    object-fit: cover;
}

.li:nth-child(1) img {
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
}

.li:last-child img {
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
}

.li {
    width: calc((100% - 10px) / 3);
    list-style-type: none;
}

.ul {
    display: flex;
    justify-content: space-between;
}

.text {
    margin-bottom: 20px;
}

